/* header-1 */
.header-1{
     background-color: #000; 
}

.header-1 .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.header-1 .inner-logo{
    padding: 10px 0;
}

.header-1 .inner-logo img{
    width: 200px;
    height: 56px;
}

.header-1 .inner-search{
    display: flex;
    align-items: center;
    position: relative;
}

.header-1 .inner-search input{
    padding: 21px;
    width: 383px;
    height: 42px;
    border-radius: 50px;
}

.header-1 .inner-search input::placeholder{
    opacity: 50%;
    font-size: 14px;
    font-style: italic;
}

.header-1 .inner-search .inner-icon{
    position: absolute;
    right: 8px;
    background: none;
    border: none;
    color: var(--color-primary);
}

.header-1 .inner-search .inner-icon:hover{
    color: #000;
}

.header-1 .inner-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-1 .inner-contact .inner-wrap{
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50px;
    padding: 0 20px 0 20px;
    height: 56%;
}

.header-1 .inner-contact .inner-icon i{
    color: #fff;
    margin-right: 10px;
}

.header-1 .inner-contact p{
    color: #fff;
    font-size: 18px;
}

.header-1 .inner-list-item{
    display: flex;
    align-items: center;
}

.header-1 .inner-list-item .item{
    margin-right: 20px;
}

.header-1 .inner-list-item .item i{
    font-size: 24px;
    color: #fff;
}
/* end header-1 */

/* Header-2 */
.header-2{
    background-color: #fff;
    font-size: 14px;
}

.header-2 .inner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-2 .inner-menu{
    background-color: var(--color-primary);
    display: flex;
    padding: 7px 25px 7px 25px;
    align-items: center;
    color: #fff;
}

.header-2 .inner-menu .inner-icon{
    margin-right: 10px;
}

.header-2 .inner-content{
    padding: 0 20px;
    font-style: italic;
    margin-left: -300px;
}

.header-2 .inner-list-item{
    display: flex;
    align-items: center;
}

.header-2 .inner-list-item .item a{
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.header-2 .inner-list-item .item .inner-icon{
    margin-right: 6px;
}

.header-2 .inner-list-item .item .inner-text:hover{
    color: var(--color-primary);
}
/* End Header-2 */

/* Section one */
.section-one .inner-image img{
    width: 100%;
}
/* End Section one */

